@import "../../styles/theme.scss";

.chat_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $lightgray;
  border-bottom: 1px solid $darkgray;
  h3 {
    padding: 1rem;
    margin: 0;
  }
}
