@import "../../styles/theme.scss";
.chat_container {
  position: relative;
  max-width: 600px;
  margin: 2rem auto;
  background-color: white;
  border: 1px solid $lightgray;
  border-radius: 4px;
  box-shadow: 0 0 6px 4px #00000009;
  padding: 3.5rem 0.2rem;
}
